{
    "clientId": "YOUR_DISCORD_DEVELOPER_APPLICATION_CLIENT_ID_GOES_HERE",
    "rich_presence": {
        "details": "ANYTHING_ENTERED_HERE_WILL_DISPLAY_BELOW_THE_APPLICATION_NAME",
        "state": "ANYTHING_ENTERED_HERE_WILL_DISPLAY_BELOW_THE_TEXT_ABOVE",
        "assets": {
            "largeImageText": "TEXT_ENTERED_HERE_WILL_DISPLAY_ON_LARGE_IMAGE_HOVER",
            "largeImageKey": "ENTER_THE_LARGE_ART_ASSET_NAME_HERE",
            "smallImageText": "TEXT_ENTERED_HERE_WILL_DISPLAY_ON_SMALL_IMAGE_HOVER",
            "smallImageKey": "ENTER_THE_SMALL_ART_ASSET_NAME_HERE"
        },
        "buttons": {
            "primary": {
                "buttonLabelText": "Placeholder Text 1",
                "buttonRedirectUrl": "http://example.com/"
            },
            "secondary": {
                "buttonLabelText": "Placeholder Text 2",
                "buttonRedirectUrl": "https://example.com/"
            }
        },
        "timestamps": {
            "startTimestamp": "EPOCH_START_TIMESTAMP_THIS_IS_OPTIONAL",
            "endTimestamp": "EPOCH_END_TIMESTAMP_THIS_IS_OPTIONAL",
            "useTimer": "TRUE_OR_FALSE_WITHOUT_QUOTES"
        }
    }
}