{
    "clientId": "Your_developer_application_client_id_goes_here",
    "rich_presence": {
        "details": "First_row_below_title",
        "state": "Second_row_below_title",
        "assets": {
            "largeImageText": "Text_shown_on_large_image_hover",
            "largeImageKey": "Large_image_to_the_left_of_content",
            "smallImageText": "Text_shown_on_small_image_hover",
            "smallImageKey": "Small_image_to_the_left_of_content"
        },
        "buttons": {
            "primary": {
                "buttonLabelText": "Primary Button Text",
                "buttonRedirectUrl": "http://example.com/"
            },
            "secondary": {
                "buttonLabelText": "Secondary Button Text",
                "buttonRedirectUrl": "https://example.com/"
            }
        },
        "timestamps": {
            "startTimestamp": "Optional_epoch_start_timestamp",
            "endTimestamp": "Optional_epoch_end_timestamp",
            "useTimer": "True_or_false_without_quotes"
        }
    }
}
